.wrapper_list_clients
  position: relative
  z-index: 2
  @media screen and (min-width: $tablet)
    margin-bottom: 5rem
  .list_clients_title
      line-height: 9rem
      font-size: 7.33rem
      font-weight: 400
      margin-bottom: 3.33rem
  .list_clients
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap
    @media screen and (min-width: $mobile)
      margin-bottom: 10rem
    &_item
      position: relative
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      width: calc(50% - 2.5rem)
      height: 20vh
      margin-bottom: 3.33rem
      @media screen and (max-height: 400px)
        height: 45vh
      @media screen and (min-width: $mobile)
        width: calc(33% - 8rem)
        height: 15vh
        margin-bottom: 5rem
        @media screen and (min-width: $tablet)
          width: calc(33% - 4rem)
          margin-bottom: 10rem
          @media screen and (min-width: 1700px)
            height: 7vh
            width: calc(33% - 5rem)

        &:nth-child(n + 3)
          margin-bottom: 0
      .client_logo
        img
          width: 100%
          height: auto
      .client_title
        position: absolute
        width: 100%
        bottom: -25%
        left: 50%
        transform: translate(-50%,-50%)
        text-align: center
        font-weight: 300
        font-size: 2.66rem
        line-height: 4rem
        @media screen and (min-width: $mobile)
          font-size: 4rem
          line-height: 3rem
          @media screen and (min-width: $tablet)
            font-size: 2.4rem
            line-height: 2.7rem
            bottom: -100%



