.wrapper_list_clients
  .list_clients_title
      line-height: 9rem
      font-size: 7.33rem
      font-weight: 400
      margin-bottom: 3.33rem
  .list_clients
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap
    margin-bottom: 13rem
    &_item
      display: flex
      flex-direction: column
      justify-content: space-between
      width: calc(50% - 2.5rem)
      height: 20vh
      margin-bottom: 3.33rem
      .client_logo
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 70%
        img
          width: 100%
          height: auto
      .client_title
        height: 20%
        text-align: center
        font-weight: 300
        font-size: 2.66rem
        line-height: 4rem


