
section.section_main
  width: 100vw
  overflow: hidden
  position: relative
  .main_wrapper_title
    max-height: 70vh
    padding: 0 3.5rem
    padding-top: 20vh
    @media screen and (min-width: $mobile)
      height: 60vh
      padding: 0 11.66rem
      padding-top: 40rem
      @media screen and (min-width: $tablet)
        padding: 0
        padding-top: 20vh
        height: 60vh
        @media screen and (min-width: 1700px)
          padding-top: 25vh
    h3
      font-size: 4.33rem
      line-height: 5.66rem
      margin-bottom: 2rem
      font-weight: 400
      position: relative
      @media screen and (min-width: $mobile)
        font-size: 8.33rem
        line-height: 10rem
        margin-bottom: 4rem
        @media screen and (min-width: $tablet)
          font-size: 8rem
          line-height: 9rem
          @media screen and (min-width: 1700px)
            font-size: 10rem
            line-height: 12rem

      &:after
        content: ''
        width: 80%
        height: 2.5rem
        position: absolute
        z-index: 0
        bottom: -2px
        left: -4rem
        opacity: 0.3
        background: #302E32
        background: -moz-linear-gradient(left, #302E32 0%, #00B4DD 100%)
        background: -webkit-linear-gradient(left, #302E32 0%, #00B4DD 100%)
        background: linear-gradient(to right, #302E32 0%, #00B4DD 100%)
        @media screen and (min-width: $mobile)
          width: 90%
          height: 6rem
          bottom: -6px

    .main_subtitle
      display: flex
      justify-content: flex-start
      position: relative
      p
        position: relative
        font-weight: 400
        font-size: 2rem
        line-height: 3rem
        z-index: 2
        @media screen and (min-width: $mobile)
          font-size: 2.33rem
          line-height: 4rem
          @media screen and (min-width: $tablet)
            font-size: 1.6rem
            line-height: 2.2rem
            @media screen and (min-width: 1700px)
              font-size: 2rem
              line-height: 2.7rem
        &:after
          position: absolute
          content: ''
          width: 50%
          height: 40%
          background: $blue
          opacity: 0.4
          bottom: -1px
          left: 0
          @media screen and (min-width: $mobile)
            width: 110%
            @media screen and (min-width: $tablet)
              width: 105%
              bottom: -4px
      &:nth-child(3)
        justify-content: flex-end
        margin-top: 5rem
        margin-bottom: 6.66rem
        @media screen and (min-width: $tablet)
          margin-bottom: 4rem
          margin-top: 0
        p
          &:after
            left: auto
            right: 1rem
            @media screen and (min-width: $tablet)
              right: -4rem
  .main_button
    margin-bottom: 23rem
    @media screen and (min-width: $mobile)
      display: flex
      flex-direction: row
      justify-content: flex-end

  .main_slogan
    height: 30vh
    padding: 0 3.5rem
    @media screen and (min-width: $mobile)
      height: 34vh
      padding: 11.33rem
      @media screen and (min-width: $tablet)
        height: 28vh
        padding: 0
        padding-right: 10rem
    &_title
      h1
        position: relative
        z-index: 5
        display: block
        width: 100%
        text-align: right
        font-size: 10rem
        line-height: 12rem
        font-weight: 400
        margin-bottom: 1rem
        @media screen and (min-width: $tablet)
          font-size: 4.4rem
          line-height: 5.4rem
          @media screen and (min-width: 1700px)
            font-size: 6rem
            line-height: 7.2rem
    &_text
      display: flex
      flex-direction: column
      justify-content: flex-end
      p
        text-align: right
        font-size: 2.33rem
        line-height: 3.33rem
        font-weight: 200
        margin-bottom: 1.66rem
        @media screen and (min-width: $mobile)
          font-size: 3.33rem
          line-height: 4.5rem
          @media screen and (min-width: $tablet)
            font-size: 1.6rem
            line-height: 2rem
            @media screen and (min-width: 1700px)
              font-size: 2rem
              line-height: 2.7rem
        &:last-child
          margin-bottom: 0

  .main_advantages
    padding: 0 3.5rem
    padding-top: 8.33rem
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap
    @media screen and (min-width: $mobile)
      height: 6vh
      flex-wrap: nowrap
      padding: 0
      width: 100vw
      margin: 0 -15px
      background-color: $black
      position: relative
      z-index: 5
      @media screen and (min-width: $tablet)
        height: 13vh
    .main_advantage
      display: flex
      flex-direction: column
      justify-content: space-between
      padding: 1rem 1.5rem
      width: calc(50% - 0.7rem)
      //height: 15vh
      position: relative
      box-shadow: 0 0 33px 0 rgba(0,0,0, 0.16)
      margin-bottom: 1rem
      border-radius: 5px
      @media screen and (min-width: $mobile)
        width: 20%
        height: 100%
        padding: 0
        margin: 0
        box-shadow: none
        overflow: hidden
        display: flex
        justify-content: center
        align-items: center
        border-right: 1px solid $white
      &:last-child
        width: 100%
        @media screen and (min-width: $mobile)
          width: 20%
          border: none
      &_num
        color: #302E32
        text-shadow: 0 -1px #fff, 1px 0 #fff, 0 1px #fff, -1px 0 #fff
        font-size: 5rem
        line-height: 6rem
        position: relative
        margin-bottom: 3vh
        @media screen and (min-width: $mobile)
          position: absolute
          top: 50%
          left: 15%
          transform: translate(-50%,-50%)
          font-size: 12rem
          line-height: 12rem
          color: #3D3A40
          text-shadow: none
          font-weight: 700
          z-index: 1
          @media screen and (min-width: $tablet)
            font-size: 12rem
            @media screen and (min-width: 1700px)
              font-size: 20rem
        &:after
          position: absolute
          background: $red
          content: ''
          width: 20vw
          height: 1.66rem
          bottom: -2rem
          left: 0
          @media screen and (min-width: $mobile)
            display: none
      &_title
        font-size: 2.66rem
        line-height: 4rem
        font-weight: 300
        @media screen and (min-width: $mobile)
          position: relative
          z-index: 6
          padding-left: 20%
          @media screen and (min-width: $tablet)
            font-size: 2rem
            line-height: 2.5rem
            font-weight: 400
            @media screen and (min-width: 1700px)
              font-size: 3rem
              line-height: 4rem



//Background Main Section

.main_bg
  width: 100vw
  height: 100vh
  pointer-events: none
  position: absolute
  top: 0
  left: 0
  z-index: 0
  .particles
    width: 100%
    height: 100%
  .waves
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
  canvas
    pointer-events: none
    display: block
    min-width: 100vw
    min-height: 60vh

