$screen: 1680px
$tablet: 1025px
$mobile: 767px
$mini: 320px
$landscape: 420px

///-------My variable--------------------------------
$fontCnt:'Contur', arial
$gray: #D4D4D4
$blue:#00B4DD
$red: #F25554
$white: #fff
$black: #302E32
/////------------------------------------------------
body,html, *
  font-size: 8px
  color: #fff
  font-family: 'Lato', sans-serif
  @media screen and (min-width: 2000px)
    font-size: 12px
  @media screen and (min-width: 1700px)
    font-size: 10px
  @media screen and (max-width: 1024px)
    font-size: 6px
  @media screen and (max-width: 340px)
    font-size: 5px
a
  cursor: pointer
  text-decoration: none
  a:hover
    text-decoration: none
button
  cursor: pointer
.body_hidden
  height: 100%
  width: 100%
  overflow: hidden
.btn
  background: -moz-linear-gradient(left, $red 0%, #FF9E7A 100%)
  background: -webkit-linear-gradient(left, $red 0%, #FF9E7A 100%)
  background: linear-gradient(to right, $red 0%, #FF9E7A 100%)
  border: none
  border-radius: 5px
  color: $white
  width: 100%
  height: 40px
  z-index: 5
  outline: none
  position: relative
  transition: background 1s ease
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  @media screen and (min-width: $mobile)
    width: 45%
    @media screen and (min-width: $tablet)
      width: 17vw
  p
    font-weight: 400
    font-size: 2.66rem
    line-height: 4.5rem
    @media screen and (min-width: $mobile)
      font-size: 3.33rem
      line-height: 4.5rem
      @media screen and (min-width: $tablet)
        font-size: 2rem
        line-height: 2.4rem
  &:hover
    background: -moz-linear-gradient(left, $red 0%, $red 100%)
    background: -webkit-linear-gradient(left, $red 0%, $red 100%)
    background: linear-gradient(to right, $red 0%, $red 100%)
.wrapper_main
  display: flex
  flex-direction: column
  width: 100vw
  overflow: hidden
  section
    background-color: #302E32
    flex-grow: 1
    @media screen and (min-width: $tablet)
      height: 100vh
      overflow: hidden

@import "header"
@import "main"
@import "services"
@import 'portfolio'
@import "list_clients"
@import "about"
@import "contacts"
@import "footer"
@import "pop_up"